.navbar {
  align-items: center;
  border-bottom: 1px solid #cfd9de;
  display: flex;
  height: 50px;
  background-color: #6898F1;

  .navbar__title {
    margin-left: 15px;
  }

  .container {
    #link {
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}
