.signup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;

  .signup__form {
    min-width: 300px;
    display: inline;

    label {
      color: #323336;
      font-family: "Montserrat", sans-serif;
      vertical-align: middle;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #cfd9de;
      font-family: "Montserrat", sans-serif;
      margin: 10px 0;
      padding: 10px 0;
      width: 100%;

      &::placeholder {
        color: #cfd9de;
      }

      &:focus-visible {
        outline: none;
      }
    }
    .btn {
      margin-left: 65px;
    }
  }
}